:host {
    .navbar-default {
        background-color: #ffffff;
    }
    .navbar-brand {
        padding-top: 0px;
        padding-bottom: 0px;
        img {
            max-height: 100%;
        }
    }

    a {
        &:hover {
            cursor: pointer;
        }
    }

    .nav .admin {
        border-left: 1px solid #d3e0e8;
    }

    /* Navbar text span */
    .navbar-default .navbar-nav > li > span {
        color: #777;
        opacity: 0.75;
    }
    .navbar-nav > li > span {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 22px;
    }
    .nav > li > span {
        padding: 10px 15px;
    }
    .nav > li > span {
        position: relative;
        display: block;
    }
    @media (min-width: 768px) {
        .navbar-nav > li > span {
            padding-top: 14px;
            padding-bottom: 14px;
        }
    }

    .btn.disabled {
        opacity: 0.5;
    }

    .btn-primary {
        //blue
        background-color: #778f9e;
        border-color: #778f9e;
        &:hover {
            background-color: darken(#778f9e, 5);
            border-color: darken(#778f9e, 5);
        }
    }
    .btn-success {
        //green
        background-color: #95c494;
        border-color: #95c494;
        &:hover {
            background-color: darken(#95c494, 5);
            border-color: darken(#95c494, 5);
        }
    }
    .btn-warning {
        // yellow
        background-color: #9d9d77;
        border-color: #9d9d77;
        &:hover {
            background-color: darken(#9d9d77, 5);
            border-color: darken(#9d9d77, 5);
        }
    }
    .btn-default {
        // grey
        background-color: #c4c9cc;
        border-color: #c4c9cc;
        &:hover {
            background-color: darken(#c4c9cc, 5);
            border-color: darken(#c4c9cc, 5);
        }
    }

    .next-up {
        margin: 0.5em;
    }
    .panel-heading {
        min-height: 56px;
    }
    .panel-title {
        line-height: 35px;
    }
    .btn-margin {
        margin-right: 1em;
    }
    .time {
        font-family: monospace;
    }
    .btn.disabled {
        pointer-events: none;
    }
    .fa-button {
        float: right;
        cursor: pointer;
        padding: 0.25em;
        color: #fff;
        border-radius: 5px;
        min-width: 1.7em;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
        &.fa-success {
            background: #95c494;
            border: 1px solid #95c494;
        }
        &.fa-danger {
            background: #855d5d;
            border: 1px solid #855d5d;
        }
    }

    .bounce {
        color: #3097d1;
        margin-right: 0.5em;
        margin-top: 3px;
        -moz-animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
    }
    @-moz-keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            -moz-transform: translateX(0);
            transform: translateX(0);
        }
        40% {
            -moz-transform: translateX(-30px);
            transform: translateX(-30px);
        }
        60% {
            -moz-transform: translateX(-15px);
            transform: translateX(-15px);
        }
    }
    @-webkit-keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        40% {
            -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
        }
        60% {
            -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
        }
    }
    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        40% {
            -moz-transform: translateX(-30px);
            -ms-transform: translateX(-30px);
            -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
        }
        60% {
            -moz-transform: translateX(-15px);
            -ms-transform: translateX(-15px);
            -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
        }
    }
}
