:host {
    .navbar-default {
        background-color: #ffffff;
    }
    .navbar-brand {
        padding-top: 8px;
        padding-bottom: 8px;
        img {
            max-height: 100%;
        }
    }

    .next-up {
        margin: 0.5em;
    }
    .panel-heading {
        min-height: 56px;
    }
    .panel-title {
        line-height: 35px;
    }
    .btn-margin {
        margin-right: 1em;
    }
    .time {
        font-family: monospace;
    }
    .btn.disabled {
        pointer-events: none;
    }
    .fa-button {
        float: right;
        cursor: pointer;
        padding: 0.25em;
        color: #fff;
        border-radius: 5px;
        min-width: 1.7em;
        opacity: 0.8;
        &:hover {
            opacity: 1;
        }
        &.fa-success {
            background: #2bb27b;
            border: 1px solid #259d6d;
        }
        &.fa-danger {
            background: #d9534f;
            border: 1px solid #d43f3a;
        }
    }

    .bounce {
        color: #3097d1;
        margin-right: 0.5em;
        margin-top: 3px;
        -moz-animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;
    }
    @-moz-keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            -moz-transform: translateX(0);
            transform: translateX(0);
        }
        40% {
            -moz-transform: translateX(-30px);
            transform: translateX(-30px);
        }
        60% {
            -moz-transform: translateX(-15px);
            transform: translateX(-15px);
        }
    }
    @-webkit-keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        40% {
            -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
        }
        60% {
            -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
        }
    }
    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        40% {
            -moz-transform: translateX(-30px);
            -ms-transform: translateX(-30px);
            -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
        }
        60% {
            -moz-transform: translateX(-15px);
            -ms-transform: translateX(-15px);
            -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
        }
    }
}
